.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
}

.profile-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.profile-card h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.profile-card p {
    font-size: 16px;
    margin: 8px 0;
    color: #555;
}

.profile-card strong {
    color: #333;
}

.logout-btn {
    background-color: #4a90e2;
    font-family: 'iransans';
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.logout-btn:hover {
    background-color: #ff7875;
}

.user_icon {
    margin: 0 auto;
    width: 65px;
    height: auto;
}

.body-index {
    display: flex;
    flex-direction: column;
    direction: ltr;
}

.body-index h4 {
    margin: 10px auto;
}

@media screen and (min-width: 1024px) {
    .profile-card {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding: 30px 40px;
        border-radius: 15px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        width: 100%;
    }

    .body-index {
        gap: 10px;
        margin-top: 10px;
    }
}

.push-notif {
    display: flex;
    padding: 10px;
}

.push-btn {
    padding: 5px;
    margin: 0 auto;
    border-radius: 5px;
}