.carousel {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    padding: 0.5rem;
    padding-bottom: 20px;
}

.quickaccess-text {
    padding: 5px;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    color: white;
}

.quickaccess-main {
    background-color: #36934f;
    display: flex;
    flex-direction: column;
}

.carousel-track {
    display: flex;
    gap: 1rem;
}

.carousel-item {
    display: flex;
    flex: 0 0 110px;
    background-color: #f2f2f2;
    gap: 5px;
    border-radius: 25px;
    padding: 0.5rem 0.3rem;
    scroll-snap-align: start;
    text-align: center;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}


.carousel-item .icon {
    font-size: 2rem;
    display: block;
    margin-bottom: 0.5rem;
}

.carousel-item img {
    background-color: #fafafa;
    padding: 10px;
    border-radius: 25px;
    width: 40%;
}

.carousel-item h3 {
    font-size: 0.8rem;
    background-color: transparent;
    font-weight: 600;
}

.carousel-item p {
    font-size: 0.9rem;
    color: #555;
}

.quickaccess {
    margin-top: 20px;
}