* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: iransans;
    direction: rtl;

}

@font-face {
    font-family: Iransans;
    src: url(./assets/fonts/IRANSansXFaNum-Bold.woff2);
    font-weight: 800;
}

@font-face {
    font-family: iransans;
    src: url(./assets/fonts/IRANSansXFaNum-Regular.woff2);
    font-weight: 600;
}